<%= form_tag("create", :method => :post) do%>
    <table width="100%" id="buttonTable" name="buttonTable" runat="server">
      <tr>
        <td class="rightalign">
          <%= submit_tag('Create an Envelope with 1 Signer', :name => 'OneSigner', :class => "docusignbutton orange") %>
        </td>
        <td class="leftalign">
          <%= submit_tag('Create an Envelope with 2 Signers', :name => 'TwoSigners', :class => "docusignbutton brown") %>
        </td>
      </tr>
    </table>
<%end%>