<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns="http://java.sun.com/xml/ns/javaee" 
    xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
    id="WebApp_ID" version="3.0">
    
  <display-name>DocuSign Sample Application</display-name>

  <welcome-file-list>
    <welcome-file>Login</welcome-file>
  </welcome-file-list>

  <servlet>
    <description>Login to DocuSign and get user info</description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>net.docusign.sample.Login</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Creates an envelope and sends it with lots of options</description>
    <display-name>SendDocument</display-name>
    <servlet-name>SendDocument</servlet-name>
    <servlet-class>net.docusign.sample.SendDocument</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendDocument</servlet-name>
    <url-pattern>/SendDocument</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Lists envelopes in the session</description>
    <display-name>GetStatusAndDocs</display-name>
    <servlet-name>GetStatusAndDocs</servlet-name>
    <servlet-class>net.docusign.sample.GetStatusAndDocs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetStatusAndDocs</servlet-name>
    <url-pattern>/GetStatusAndDocs</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendATemplate</display-name>
    <servlet-name>SendATemplate</servlet-name>
    <servlet-class>net.docusign.sample.SendATemplate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendATemplate</servlet-name>
    <url-pattern>/SendATemplate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmbedDocusign</display-name>
    <servlet-name>EmbedDocusign</servlet-name>
    <servlet-class>net.docusign.sample.EmbedDocusign</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmbedDocusign</servlet-name>
    <url-pattern>/EmbedDocusign</url-pattern>
  </servlet-mapping>
</web-app>