body 
{
    font: 1em Arial, sans-serif;
}

.addthis_toolbox.addthis_pill_combo a {
    float: left;
}
.addthis_button_compact .at15t_compact {
    float: left;
}

.leftalign
{
    text-align: left;
}

.rightalign
{
    text-align:right;
}

.centeralign
{
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}

div.container {
	margin:0px auto;
	margin-top:10px;
	width:1024px;
}

div.authbox {
	color:#666;
	font-size:12px;
	text-align:right;
	margin-bottom:10px;
}

div.authbox span {
	color:black;
}

div.authbox a {
	color:blue;
}

.dropshadow-topright
{
    margin: 100px auto; 
    background-color: #FFFFFF; 
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px; 
    border: 1px solid #000; 
    padding: 10px; 
    height: 313px;
    width: 527px; 
    box-shadow: 5px -5px 10px #700; 
    -webkit-box-shadow: 5px -5px 10px #888;
    -moz-box-shadow: 5px -5px 10px #334455; 
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;
    border: 1px solid #000; 
    padding: 10px;
}

.dropshadow-bottomleft
{
    margin: 100px auto; 
    background-color: #FFFFFF; 
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px; 
    border: 1px solid #000; 
    padding: 10px; 
    height: 313px;
    width: 527px; 
    box-shadow: -5px 5px 10px #700; 
    -webkit-box-shadow: -5px 5px 10px #888;
    -moz-box-shadow: -5px 5px 10px #334455; 
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;
    border: 1px solid #000; 
    padding: 10px;
}

.triangle-isosceles {
	position:relative;
	padding:15px;
	margin:1em 0 1em;
	color:#000;
	background:#fff; /* default background for browsers without gradient support */
	
	/* css3 */
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	/* NOTE: webkit gradient implementation is not as per spec */
	/*background:-webkit-gradient(linear, left top, left bottom, from(#F2F2F2), to(#DFDFDF));
	background:-moz-linear-gradient(top, #F2F2F2, #DFDFDF);
	background:-o-linear-gradient(top, #F2F2F2, #DFDFDF);*/
}

.triangle-isosceles.left {
	margin-left:30px;
	background:#F1F1F1;
}

/* creates triangle */
.triangle-isosceles:after {
	content:"";
	display:block; /* reduce the damage in FF3.0 */
	position:absolute;
	bottom:-26px; /* value = - border-top-width - border-bottom-width */
	left:47px; /* controls horizontal position */
	width:0;
	height:0;
	border-width:15px 15px 0; /* vary these values to change the angle of the vertex */
	border-style:solid; 
	border-color:transparent #F1F1F1;
}

/* Variant : left
------------------------------------------ */

.triangle-isosceles.left:after {
	top:28px; /* controls vertical position */
	left:-21px; /* value = - border-left-width - border-right-width */
	bottom:auto;
	border-width:9px 21px 9px 0;
	border-color:transparent #F1F1F1;
	
}


table#recipientList th {
	width:20%;
}

table#recipientList th:nth-child(3) {
	width:40%;
}


table.tabs {
	margin-bottom:10px;
	width:100%;
}

table.tabs td {
	text-align:center;
	
	margin:0px;
	padding:5px;
	
	font-size:16px;
	font-weight:bold;
	background:#eee;
	border:1px solid #ccc;
	
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;
}

table.tabs td:hover {
	background:white;
}

table.tabs td:hover a {
	color:#666;
}

table.tabs td.current {
	background:white;
	border-bottom:0px;
	color:#666;
}

table.tabs a {
	color:#333;
	text-decoration:none;
}